
/* หน้าแรก */

* { /* Universal Selector */
    font-family: 'Kanit', sans-serif;
}

body{ /* Type Selector */
    margin: 0px;
}

a:hover{
    cursor: pointer;
}

.menutype{ /* Class Selector */
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

.menutype a{
    border: 1px solid #000;
    padding: 10px 20px;
}

.blackground { /* Class Selector */
    margin: auto;
    height: 500px;
    background-color: purple;
}

.blackground .image-logo{
    text-align: center;
    padding: 20px;
}

.message-logo{
    text-align: center;
}

.message-logo h4 {
    margin-top: 30px;
    color: aliceblue;
}
.message-logo hr {
    margin: auto;
    color: white;
    width: 60%;
}
.message-logo h5 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: aliceblue;
    font-size: 14px;
}
.text-blackground1 {
    margin: auto;
    width: 60%;
    padding: 10px;
    background-color: antiquewhite;
    margin-top: 10px;
}
h5 {
    font-size: 17px;
    text-align: center;
    color: blueviolet;
    margin-top: 60px;
}

.text-blackground1 > h5{
    font-size: 17px;
    text-align: center;
    margin-top: 10px;
    color: rgb(255, 42, 42);
}

.menu-blackground {
    text-align: center;
}
.menu-blackground hr {
    margin: auto;
    margin-top: 10px;
    width: 30%;
}
.text-blackground2 {
    margin-top: 7px;
    text-align: center;
}
.text-blackground2 h2 {
    color: blueviolet;
}
.text-blackground2 u {
    color: red;
    font-size: 20px;
}
@media screen and (max-width: 1024px) {

    .blackground img{
        width: 100%;
        margin: auto;
    }
    .blackground h4 {
        margin: auto;
        text-align: center;
    }
    .blackground h5 {
        margin: auto;
        text-align: center;
    }
    .blackground hr {
        margin: auto;
        text-align: center;
    }
    .text-blackground1 {
        margin: auto;
        text-align: center;
    }
    .text-blackground1 h5 {
        margin: auto;
        text-align: center;
    }
}

/* หน้าจองวัคซีน */

.Box_Input_vaccin01{
    width: 100%;
    margin: auto;
}
.Box_Input_vaccin02{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    background-color: rgb(204, 204, 204);
}
.Contorl_form input{
    margin-top: 3px;
}
.Contorl_form textarea{
    resize: none;
    width: 80%;
}

@media screen and (min-width: 681px) {
    .Box_Input_vaccin01{
        width: 100%;
        margin: auto;
        display: flex;
        text-align: center;
    }
    .Box_Input_vaccin02{
        width: 80%;
        padding: 50px;
        font-size: 20px;
        margin-bottom: 20px;
        background-color: rgb(204, 204, 204);
    }
    .Contorl_form input{
        margin-left: 10px; 
    }
    .Contorl_form textarea{
        resize: none;
    }
}

/* หน้าเช็ควัคซีน */
.divA{  /* Class Selector */
    margin: auto;
    margin-top: 20px;
    width: 60%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
}

.divC{  /* Class Selector */
    width: 100%;
    text-align: center;
    background-color: rgb(243, 243, 243);
}
.divC h3{ /* Descendant selector */
    text-align: center;
    
}
#text1{ 
    margin-top: 20px;
    font-size: 18px;
    color: rgb(107, 107, 107);
    
}
#text2{ 
    margin-top: 15px;
    font-size: 15px;
}
#text3{ 
    margin-top: 5px;
}
#text4{ 
    margin-top: 30px;
    font-size: 15px;
}
#text5{ 
    margin-top: 5px;
}
.divD {
    margin-top: 20px;

}
.divD .button1{
    background-color: rgb(255, 60, 60);
    color: white;
    font-size: 18px;
    width: 100px;
    height: 40px;
}
.divD .button2{
    background-color: rgb(255, 60, 60);
    color: white;
    font-size: 18px;
    width: 100px;
    height: 40px;
}
.divC #text6{ 
    margin-top: 40px;
    font-size: 17px;
    color: tomato;
}

@media screen and (max-width: 1024px) {
    .divC{  /* Class Selector */
        width: 100%;
        margin: auto;
        text-align: center;
        background-color: rgb(243, 243, 243);
    }
}
