
/* หน้าแรก */

* { /* Universal Selector */
    font-family: 'Kanit', sans-serif;
}

body{ /* Type Selector */
    margin: 0px;
}

footer{
    text-align: center;
}

a:hover{ /* Pseudo-Class Selector */
    cursor: pointer;
}

.menutype{ /* Class Selector */
    margin: auto;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.menutype a{
    border: 1px solid #000;
    padding: 10px 30px;
}

.blackground { /* Class Selector */
    margin: auto;
    height: 500px;
    background-color: purple;
}

.blackground .image-logo{ /* Class Selector */
    text-align: center;
    padding: 20px;
}

.message-logo{ /* Class Selector */
    text-align: center;
}

.message-logo h4 { /*Descendant selector*/
    margin-top: 30px;
    color: aliceblue;
}
.message-logo hr { /*Descendant selector*/
    margin: auto;
    color: white;
    width: 60%;
}
.message-logo h5 { /*Descendant selector*/
    margin-top: 20px;
    margin-bottom: 20px;
    color: aliceblue;
    font-size: 14px;
}
.text-blackground1 { /* Class Selector */
    margin: auto;
    width: 60%;
    padding: 10px;
    background-color: antiquewhite;
    margin-top: 10px;
}
h5 {
    font-size: 17px;
    text-align: center;
    color: blueviolet;
    margin-top: 60px;
}

.text-blackground1 > h5{ /* Child selector*/
    font-size: 17px;
    text-align: center;
    margin-top: 10px;
    color: rgb(255, 42, 42);
}

.menu-blackground {
    text-align: center;
}

.menu-blackground img:hover{ /* Pseudo-Class selector*/
    transition: 0.5s;
    transform: scale(1.05);
}

.menu-blackground hr { /*Descendant selector*/
    margin: auto;
    margin-top: 10px;
    width: 30%;
}
.text-blackground2 { /* Class Selector */
    margin-top: 7px;
    text-align: center;
}
.text-blackground2 h2 { /*Descendant selector*/
    color: blueviolet;
}
.text-blackground2 u { /*Descendant selector*/
    color: red;
    font-size: 20px;
}
@media screen and (max-width: 1024px) {

    .menutype{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .blackground img{ /*Descendant selector*/
        width: 100%;
        margin: auto;
    }
    .blackground h4 { /*Descendant selector*/
        margin: auto;
        text-align: center;
    }
    .blackground h5 { /*Descendant selector*/
        margin: auto;
        text-align: center;
    }
    .blackground hr { /*Descendant selector*/
        margin: auto;
        text-align: center;
    }
    .text-blackground1 { /* Class Selector */
        margin: auto;
        text-align: center;
    }
    .text-blackground1 h5 { /*Descendant selector*/
        margin: auto;
        text-align: center;
    }
}

.Box_Input_vaccin01{ /* Class Selector */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    
}

.Box_Input_vaccin02{ /* Class Selector */
    width: 50%;
    text-align: center;
    background-color: rgba(219, 219, 219, 0.5);
}

.Box_Input_vaccin02 input{ /*Descendant selector*/
    width: 30%;
    padding: 6px 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(151, 151, 151, 0.5);
}

.Box_Input_vaccin02 select{ /*Descendant selector*/
    width: 30%;
    padding: 6px 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(151, 151, 151, 0.5);
}

.Box_Input_vaccin02 button{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(60, 211, 0, 0.5);
    background-color: rgb(159, 255, 114);
    padding: 5px 10px;
}

/* หน้าจองวัคซีน */
@media screen and (max-width: 1024px) { /* Moblie */
    .Box_Input_vaccin02{
        width: 90%;
    }
}


/* หน้าเช็ควัคซีน */
.divA{  /* Class Selector */
    margin: auto;
    margin-top: 20px;
    width: 60%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
}

.divC{  /* Class Selector */
    width: 100%;
    text-align: center;
    background-color: rgb(243, 243, 243);
}
.divC h3{ /* Descendant selector */
    text-align: center;
    
}
#text1{ /* Id Selector */
    margin-top: 20px;
    font-size: 18px;
    color: rgb(107, 107, 107);
    
}
#text2{ /* Id Selector */
    margin-top: 15px;
    font-size: 15px;
}
#text3{ /* Id Selector */
    margin-top: 5px;
}
#text4{ /* Id Selector */
    margin-top: 30px;
    font-size: 15px;
}
#text5{ /* Id Selector */
    margin-top: 5px;
}
.divD { /* Class Selector */
    margin-top: 20px;

}
.divD .button1{ /* Class Selector */
    background-color: rgb(255, 60, 60);
    color: white;
    font-size: 18px;
    width: 100px;
    height: 40px;
}
.divD .button2{ /* Class Selector */
    background-color: rgb(255, 60, 60);
    color: white;
    font-size: 18px;
    width: 100px;
    height: 40px;
}
.divC #text6{ /* Descendant  Selector */
    margin-top: 40px;
    font-size: 17px;
    color: tomato;
}

@media screen and (max-width: 1024px) {

    .divA{
        width: 100%;
    }

    .divC{  /* Class Selector */
        width: 100%;
        margin: auto;
        text-align: center;
        background-color: rgb(243, 243, 243);
    }
}
