* { /* Universal Selector */
    font-family: 'Kanit', sans-serif;
    overflow: hidden;
}

body { /* Type Selector */
    margin: 0;
}
  
.topnav { /* Class Selector */
    background-color: #0077ff;
}
  
.topnav a { /* Descendant Selector */
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.5s;
}
  
.topnav a:hover { /* Pseudo-Class Selector */
    color: #77c9ff;
    transform: scale(1.06);
}

.topnav a.active {
    background-color: #0077ff;
    color: white;
}

.topnav i { /* Descendant Selector */
    display: none;
}

.topnav .right-menu{
    float:right; 
    margin-right: 20px;
}

.topnav h1{ /* Descendant Selector */
    position: absolute;
    color: white;
    font-size: 20px;
    margin-top: 25px;
}

@media screen and (max-width: 600px) {

    .topnav h1{
        margin-top: 25px;
        font-size: 17px;
    }

    .topnav .right-menu a {transition: 0.5s; display: none;}
    .topnav i{
        display: block;
        float: right;
        font-size: 20px;
        padding: 25px;
        color: white;
    }

    .topnav.responsive .right-menu {
        margin-top: 60px;
        position: relative;
        transition: 0.5s;
        background-color: #0064d6;
    }

    .topnav.responsive i {
        position: absolute;
        right: 0;
        top: 0px;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        transition: 0.5s;
    }

    .topnav .right-menu{
        float:none; 
        margin-right: 0px;
        transition: 0.5s;
    }
}